<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUsername" value="alinealmeida262@gmail.com"/>
		<add key="SmtpPassword" value="fcjr peco yeof cksc"/>
		<add key="SmtpEnableSsl" value="true"/>
		<add key="To" value="fg.milani@hotmail.com"/>
	</appSettings>
</configuration>